html {
    background-color: black;
}

.main {
    color: white;
    text-align: center;
}

.links {
    text-align: center;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.display {
    text-align: center;
}

.header.sub {
    text-align: center;
    color: white;
}

.descrip {
    color: white;
    font-size: 18px;
}

.list {
    color: white;
}